// Home page styles
@use "../_variables.scss" as vars;
@use "../_mixins.scss" as mixins;


.bi-29 {
    background-image: url(../images/bg/bg.png);
}
.bi-30 {
    background-image: url(../images/bg/12.png);
}
.bi-31 {
    background-image: url(../images/bg/14.png);
}
    