@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Dark mode styles */


.dark .btn-base {
    background-color: #4f46e5;
}

.dark .btn-border-base {
    border-color: #4f46e5;
    color: #e5e5e5;
}

.dark .section-title .title {
    color: #e5e5e5;
}

.dark .section-title .title span {
    color: #4f46e5;
}

.dark .section-title .sub-title {
    color: #d1d1d1;
}